@page "/Animes"
@inject IAnimeData aniData

<h3>Anime</h3>

<div class="g-3">
    <div class="row g-0 p-4 position-relative rounded">
        <h4>Ingresar nuevo Anime</h4>
        <EditForm Model="@anime" OnValidSubmit="@InsertAnime">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label>Nombre:</label>
            <InputText class="form-text" id="Nombre" @bind-Value="anime.Nombre" />

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

    @if (aniEnum != null)
    {
        @foreach (var ani in aniEnum)
        {
            <div class="g-3">
                <div class="row g-0 bg-body-secondary position-relative rounded">
                    <div class="col-md-6 mb-md-0 p-md-2">
                        <div class="ratio ratio-1x1">
                            <img src="img/anime/@ani.Imagen" class="object-fit-cover border rounded" alt="Imagen de @ani.Nombre">
                        </div>
                    </div>
                    <div class="col-md-6 p-2 ps-md-0 card-body d-flex flex-column">
                        <h5 class="card-title">@ani.Nombre</h5>
                        <p> </p>
                        <div>
                            Genero: @ani.Genero<br />
                            Capitulos: @ani.Capitulos
                        </div>
                        <div class="align-self-end">
                            <a href="/Anime/#" class="btn btn-primary align-self-end">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>


@code {
    IEnumerable<VAnime> aniEnum;
    Anime anime = new Anime();

    protected override async Task OnInitializedAsync()
    {
        aniEnum = await aniData.GetAnimes();
    }

    private async Task InsertAnime()
    {
        try
        {
            anime.Activo = true;
            await aniData.InsertAnime(anime);
            aniEnum = await aniData.GetAnimes();
            anime = new Anime();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}