@page "/Animes"
@inject IAnimeData aniData
@inject NavigationManager NavigationManager

<h3>Anime</h3>


@if (aniEnum != null)
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        @foreach (var ani in aniEnum)
        {
            <div class="g-3">
                <div class="row g-0 bg-body-secondary position-relative rounded">
                    <div class="col-md-6 mb-md-0 p-md-2">
                        <div class="ratio ratio-1x1">
                            <img src="img/anime/@ani.Imagen" class="object-fit-cover border rounded" alt="Imagen de @ani.Nombre">
                        </div>
                    </div>
                    <div class="col-md-6 p-2 ps-md-0 card-body d-flex flex-column">
                        <div class="p-2">
                            <h4>@ani.Nombre</h4>
                        </div>
                        <div class="p-2">
                            <div class="flex-fill">Genero: @ani.Genero</div>
                            <div class="flex-fill">Capitulos: @ani.Capitulos</div>
                        </div>
                        <div>
                            <div class="w-50 position-absolute bottom-0 p-2">
                                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#@ani.IdAnime">
                                    Detalles
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="@ani.IdAnime" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <img src="img/anime/@ani.Imagen" class="card-img" alt="Imagen de @ani.Nombre">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">@ani.Nombre</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>@ani.Sinopsis</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" @onclick="@(() => EditAnime(ani.IdAnime))" data-bs-dismiss="modal">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="d-flex justify-content-center align-middle">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}


@code {
    List<VAnime> aniEnum;
    Anime anime = new Anime();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        aniEnum = await aniData.GetAllAnimeAsync();
    }

    void EditAnime(int id)
    {
        NavigationManager.NavigateTo($"/Animes/edit/{id}");
    }
}