@page "/Animes/edit"
@page "/Animes/edit/{Id_Anime:int}"
@inject IAnimeData aniData
@inject IJSRuntime JS
@inject IGeneroAnimeData generoAnimeData
@inject NavigationManager NavigationManager


<div class="container">
    <!--Comprobar si se está editando o creando un elemento, para saber que informacion mostrar-->
    @if (Id_Anime is null)
    {
        <PageTitle>Agregar un nuevo anime</PageTitle>
        <h1>Agregar un nuevo anime</h1>
    }
    else
    {
        <PageTitle>Editar "@CurrentAnime.Nombre"</PageTitle>
        <h1>Editar "@CurrentAnime.Nombre"</h1>
    }

    <div class="p-4"></div>

    <div class="row">
        <EditForm Model="CurrentAnime" OnSubmit="HandleSubmit" FormName="AnimeForm">
            <div class="row">
                <div class="col col-md-4 col-md-offset-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <InputText id="name" @bind-Value="CurrentAnime.Nombre" class="form-control" />
                    </div>

                    <!-- Select input-->
                    <div class="form-group">
                        <label class="control-label" for="selectinput">Genero:</label>
                        <InputSelect class="form-control" id="selectinput" @bind-Value="CurrentAnime.IdGeneroAnime">
                            <option value="">Genero Anime...</option>
                            @if (generoAnime != null)
                            {
                                @foreach (var genero in generoAnime)
                                {
                                    <option value="@genero.IdGeneroAnime">@genero.Descripcion</option>
                                }
                            }
                        </InputSelect>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="otrostgeneros">Otros:</label>
                        <InputText id="otrostgeneros" @bind-Value="CurrentAnime.OtrosGeneros" class="form-control" />
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lanzamiento">Estreno:</label>
                        <InputDate id="lanzamiento" @bind-Value="CurrentAnime.Lanzamiento" class="form-control" />
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="control-label" for="capitulos">Capítulos:</label>
                                <InputNumber id="capitulos" @bind-Value="CurrentAnime.CapitulosTotales" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="control-label" for="temporadas">Temporadas:</label>
                                <InputNumber id="temporadas" @bind-Value="CurrentAnime.Temporadas" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="imagen">Imagen:</label>
                        <InputFile @ref="inputFile" OnChange="@LoadFile" id="imagen" @bind-Value="CurrentAnime.Imagen" class="form-control" />
                    </div>
                </div>
                <div class="col col-md-8 col-md-offset-8">
                    <label class="control-label" for="textinput">Sinopsis</label>
                    <div>
                        <InputTextArea @bind-Value="CurrentAnime.Sinopsis" class="form-control" style="height: 350px"></InputTextArea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="pt-3 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" @onclick="@(() => Delete(CurrentAnime.IdAnime))" class="btn btn-outline-danger w-25">Eliminar</button>
                        <button type="button" @onclick="@(() => BackToAnime())" class="btn btn-outline-primary w-25">Cancelar</button>
                        <button type="submit" class="btn btn-primary w-50">Guardar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@if (Id_Anime is not null)
{
    <div class="container p-2">
        <img class="img-fluid" @ref="previewImageElem" src="img/anime/@CurrentAnime.Imagen" alt="Vista previa de la imagen" />
    </div>
}
else
{
    <div class="container p-2">
        <img class="img-fluid" @ref="previewImageElem" src="img/AnimeBG.jpg" alt="Vista previa de la imagen" />
    </div>
}

<script>
    window.previewImage = (inputElem, imgElem) => {
        const url = URL.createObjectURL(inputElem.files[0]);
        imgElem.addEventListener('load', () => URL.revokeObjectURL(url), { once: true });
        imgElem.src = url;
    }
</script>

@code {
    [Parameter]
    public int? Id_Anime { get; set; }

    [SupplyParameterFromForm]
    public Anime CurrentAnime { get; set; } = new();

    private InputFile? inputFile;
    private ElementReference previewImageElem;
    private IBrowserFile browserFile;

    List<GeneroAnime>? generoAnime;

    protected override async Task OnInitializedAsync()
    {
        generoAnime = await generoAnimeData.GetAllGeneroAnimeAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id_Anime is not null)
        {
            var anime = await aniData.GetAnimeAsync((int)Id_Anime);
            if (anime is not null)
            {
                CurrentAnime = anime;
            }
        }
    }

    async void HandleSubmit()
    {
        if (Id_Anime is not null)
        {
            await aniData.UpdateAnimeAsync(CurrentAnime, (int)Id_Anime);
            BackToAnime();
        }
        else
        {
            if (inputFile != null)
            {
                try
                {
                    //Crear imagen en el servidor
                    await CreateImage();
                    CurrentAnime.Activo = true;
                    CurrentAnime.IdEstadoSerie = 1;
                    await aniData.AddAnimeAsync(CurrentAnime);
                    BackToAnime();
                }
                catch (Exception ex)
                {
                    await JS.InvokeVoidAsync("alert", ex.Message);
                }
            }
        }
    }

    private async Task CreateImage()
    {
        //Se utiliza Regex para eliminar todos los caracteres especiales, además se deja todo en minúsculas,
        //esto para poder tener una nomenclatura estandar en el nombre de los archivos.
        string newFileName = Regex.Replace(CurrentAnime.Nombre, @"[^0-9a-zA-Z_]+", "").ToLower();

        string extension = browserFile.ContentType.Replace("image/", ".");

        //Se comprueba la extension, en caso de no ser la requerida, se devuelve una excepción para cancelar el
        //método actual y aquellos que lo estén utilizando
        if (extension == ".jpg" || extension == ".jpeg")
        {
            newFileName += extension;
            var path = Path.Combine(@"wwwroot/img/anime/", newFileName);

            await using FileStream fs = new(path, FileMode.Create);
            await browserFile.OpenReadStream().CopyToAsync(fs);
            CurrentAnime.Imagen = newFileName;
        }
        else
        {
            throw new FileLoadException();
        }
    }

    //Adicional de cargar la vista previa, se carga el archivo a la variable correspondiente
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        await ShowPreview();
        browserFile = e.File;
    }

    void Delete(int id)
    {
        // TODO - crear metodo para eliminar elementos con confirmación
    }

    private async Task ShowPreview() => await JS.InvokeVoidAsync(
        "previewImage", inputFile!.Element, previewImageElem);

    void BackToAnime()
    {
        NavigationManager.NavigateTo("/Animes");
    }
}