@page "/Peliculas"
@inject IPeliculaData PeliculaData
@inject NavigationManager NavigationManager

<h3>Pelicula</h3>

<div class="container">
    <button @onclick="AddPelicula" class="btn btn-outline-primary w-100">Agregar Pelicula</button>
</div>

@if (peliculasEnum != null)
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        @foreach (var Pelicula in peliculasEnum)
        {
            <div class="g-3">
                <div class="row g-0 bg-body-secondary position-relative rounded">
                    <div class="col-md-6 mb-md-0 p-md-2">
                        <div class="ratio ratio-1x1">
                            <img src="img/movies/@Pelicula.Imagen" class="object-fit-cover border rounded" alt="Imagen de @Pelicula.Nombre">
                        </div>
                    </div>
                    <div class="col-md-6 p-2 ps-md-0 card-body d-flex flex-column">
                        <div class="p-2">
                            <h4 class="text-nowrap overflow-hidden">@Pelicula.Nombre</h4>
                        </div>
                        <div class="p-2">
                            <div class="flex-fill">Genero: @Pelicula.Genero</div>
                            <div class="flex-fill">Duración: @Pelicula.Duracion</div>
                        </div>
                        <div>
                            <div class="w-50 position-absolute bottom-0 p-2">
                                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#@Pelicula.IdPelicula">
                                    Detalles
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="@Pelicula.IdPelicula" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <img src="img/movies/@Pelicula.Imagen" class="card-img" alt="Imagen de @Pelicula.Nombre">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">@Pelicula.Nombre</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>@Pelicula.Sinopsis</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" @onclick="@(() => EditPelicula(Pelicula.IdPelicula))" data-bs-dismiss="modal">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="d-flex justify-content-center align-middle">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}


@code {
    List<VPelicula>? peliculasEnum;
    Pelicula peliculas = new();

    protected override async Task OnInitializedAsync()
    {
        peliculasEnum = await PeliculaData.GetAllPeliculaAsync();
    }

    void AddPelicula()
    {
        NavigationManager.NavigateTo("/Peliculas/edit");
    }
    void EditPelicula(int id)
    {
        NavigationManager.NavigateTo($"/Peliculas/edit/{id}");
    }
}