@page "/Series"
@inject ISerieData serieData
@inject NavigationManager NavigationManager

<h3>Serie</h3>

<div class="container">
    <button @onclick="AddSerie" class="btn btn-outline-primary w-100">Agregar Serie</button>
</div>

@if (seriesEnum != null)
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        @foreach (var serie in seriesEnum)
        {
            <div class="g-3">
                <div class="row g-0 bg-body-secondary position-relative rounded">
                    <div class="col-md-6 mb-md-0 p-md-2">
                        <div class="ratio ratio-1x1">
                            <img src="img/series/@serie.Imagen" class="object-fit-cover border rounded" alt="Imagen de @serie.Nombre">
                        </div>
                    </div>
                    <div class="col-md-6 p-2 ps-md-0 card-body d-flex flex-column">
                        <div class="p-2">
                            <h4 class="text-nowrap overflow-hidden">@serie.Nombre</h4>
                        </div>
                        <div class="p-2">
                            <div class="flex-fill">Genero: @serie.Genero</div>
                            <div class="flex-fill">Capitulos: @serie.Capitulos</div>
                        </div>
                        <div>
                            <div class="w-50 position-absolute bottom-0 p-2">
                                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#@serie.IdSerie">
                                    Detalles
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="@serie.IdSerie" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-dialog-scrollable">
                        <img src="img/series/@serie.Imagen" class="card-img" alt="Imagen de @serie.Nombre">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">@serie.Nombre</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>@serie.Sinopsis</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" @onclick="@(() => EditSerie(serie.IdSerie))" data-bs-dismiss="modal">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="d-flex justify-content-center align-middle">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}


@code {
    List<VSeries>? seriesEnum;
    Series series = new();

    protected override async Task OnInitializedAsync()
    {
        seriesEnum = await serieData.GetAllSerieAsync();
    }

    void AddSerie()
    {
        NavigationManager.NavigateTo("/Series/edit");
    }
    void EditSerie(int id)
    {
        NavigationManager.NavigateTo($"/Series/edit/{id}");
    }
}