@page "/Series/edit"
@page "/Series/edit/{Id_Serie:int}"
@inject ISerieData serieData
@inject IJSRuntime JS
@inject IGeneroSerieData generoSerieData
@inject NavigationManager NavigationManager


<div class="container">
    <!--Comprobar si se está editando o creando un elemento, para saber que informacion mostrar-->
    @if (Id_Serie is null)
    {
        <PageTitle>Agregar una nueva Serie</PageTitle>
        <h1>Agregar una nueva Serie</h1>
    }
    else
    {
        <PageTitle>Editar "@CurrentSerie.Nombre"</PageTitle>
        <h1>Editar "@CurrentSerie.Nombre"</h1>
    }

    <div class="p-4"></div>

    <div class="row">
        <EditForm Model="CurrentSerie" OnSubmit="HandleSubmit" FormName="SerieForm">
            <div class="row">
                <div class="col col-md-4 col-md-offset-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <InputText id="name" @bind-Value="CurrentSerie.Nombre" class="form-control" />
                    </div>

                    <!-- Select input-->
                    <div class="form-group">
                        <label class="control-label" for="selectinput">Genero:</label>
                        <InputSelect class="form-control" id="selectinput" @bind-Value="CurrentSerie.IdGeneroSerie">
                            <option value="">Genero Serie...</option>
                            @if (generoSerie != null)
                            {
                                @foreach (var genero in generoSerie)
                                {
                                    <option value="@genero.IdGeneroSerie">@genero.Descripcion</option>
                                }
                            }
                        </InputSelect>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="otrostgeneros">Otros:</label>
                        <InputText id="otrostgeneros" @bind-Value="CurrentSerie.OtrosGeneros" class="form-control" />
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lanzamiento">Estreno:</label>
                        <InputDate id="lanzamiento" @bind-Value="CurrentSerie.Lanzamiento" class="form-control" />
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="control-label" for="capitulos">Capítulos:</label>
                                <InputNumber id="capitulos" @bind-Value="CurrentSerie.CapitulosTotales" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="control-label" for="temporadas">Temporadas:</label>
                                <InputNumber id="temporadas" @bind-Value="CurrentSerie.Temporadas" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="imagen">Imagen:</label>
                        <InputFile @ref="inputFile" OnChange="@LoadFile" id="imagen" @bind-Value="CurrentSerie.Imagen" class="form-control" />
                    </div>
                </div>
                <div class="col col-md-8 col-md-offset-8">
                    <label class="control-label" for="textinput">Sinopsis</label>
                    <div>
                        <InputTextArea @bind-Value="CurrentSerie.Sinopsis" class="form-control" style="height: 350px"></InputTextArea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="pt-3 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" @onclick="@(() => Delete(CurrentSerie.IdSerie))" class="btn btn-outline-danger w-25">Eliminar</button>
                        <button type="button" @onclick="@(() => BackToSerie())" class="btn btn-outline-primary w-25">Cancelar</button>
                        <button type="submit" class="btn btn-primary w-50">Guardar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@if (Id_Serie is not null)
{
    <div class="container p-2">
        <img class="img-fluid" @ref="previewImageElem" src="img/series/@CurrentSerie.Imagen" alt="Vista previa de la imagen" />
    </div>
}
else
{
    <div class="container p-2">
        <img class="img-fluid" @ref="previewImageElem" src="img/SerieBG.jpg" alt="Vista previa de la imagen" />
    </div>
}

<script>
    window.previewImage = (inputElem, imgElem) => {
        const url = URL.createObjectURL(inputElem.files[0]);
        imgElem.addEventListener('load', () => URL.revokeObjectURL(url), { once: true });
        imgElem.src = url;
    }
</script>

@code {
    [Parameter]
    public int? Id_Serie { get; set; }

    [SupplyParameterFromForm]
    public Series CurrentSerie { get; set; } = new();

    private InputFile? inputFile;
    private ElementReference previewImageElem;
    private IBrowserFile? browserFile;

    List<GeneroSerie>? generoSerie;

    protected override async Task OnInitializedAsync()
    {
        generoSerie = await generoSerieData.GetAllGeneroSerieAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id_Serie is not null)
        {
            var Serie = await serieData.GetSerieAsync((int)Id_Serie);
            if (Serie is not null)
            {
                CurrentSerie = Serie;
            }
        }
    }

    async void HandleSubmit()
    {
        if (Id_Serie is not null)
        {
            await serieData.UpdateSerieAsync(CurrentSerie, (int)Id_Serie);
            BackToSerie();
        }
        else
        {
            if (inputFile != null)
            {
                try
                {
                    //Crear imagen en el servidor
                    await CreateImage();
                    CurrentSerie.Activo = true;
                    CurrentSerie.IdEstadoSerie = 1;
                    await serieData.AddSerieAsync(CurrentSerie);
                    BackToSerie();
                }
                catch (Exception ex)
                {
                    await JS.InvokeVoidAsync("alert", ex.Message);
                }
            }
        }
    }

    private async Task CreateImage()
    {
        //Se utiliza Regex para eliminar todos los caracteres especiales, además se deja todo en minúsculas,
        //esto para poder tener una nomenclatura estandar en el nombre de los archivos.
        string newFileName = Regex.Replace(CurrentSerie.Nombre, @"[^0-9a-zA-Z_]+", "").ToLower();

        string extension = browserFile.ContentType.Replace("image/", ".");

        //Se comprueba la extension, en caso de no ser la requerida, se devuelve una excepción para cancelar el
        //método actual y aquellos que lo estén utilizando
        if (extension == ".jpg" || extension == ".jpeg")
        {
            newFileName += extension;
            var path = Path.Combine(@"wwwroot/img/series/", newFileName);

            await using FileStream fs = new(path, FileMode.Create);
            await browserFile.OpenReadStream().CopyToAsync(fs);
            CurrentSerie.Imagen = newFileName;
        }
        else
        {
            throw new FileLoadException();
        }
    }

    //Adicional de cargar la vista previa, se carga el archivo a la variable correspondiente
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        await ShowPreview();
        browserFile = e.File;
    }

    void Delete(int id)
    {
        // TODO - crear metodo para eliminar elementos con confirmación
    }

    private async Task ShowPreview() => await JS.InvokeVoidAsync(
        "previewImage", inputFile!.Element, previewImageElem);

    void BackToSerie()
    {
        NavigationManager.NavigateTo("/Series");
    }
}